[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
environ = "*"
env = "*"
flask-uploads = "*"
werkzeug = "*"
flask-reuploaded = "*"
stripe = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
